@(jsonString: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function postData(url = "", data = "") {
            fetch(url, {
                method: "POST",
                headers: {"Content-Type": "application/json; charset=utf-8"},
                body: data
            });
@*            //.then(response => response.json()); //need response?

            fetch('/v1/posts') //if using local host, do not need the localhost:9000 part
            .then(response => {alert("fetch complete") } )
*@
            alert("script complete using url " + url + " with data " + data);
        }
    </script>
</head>
<body onload="postData('/v1/posts', '@jsonString')">
@jsonString
</body>
</html>